<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>My Community</title>
    {% block css %}
       {{ super() }}
        <style type="text/css">
            #form_login_div{
                margin-right: 700px;
            }
            #form_register_div{
                margin-right: 700px;
            }
        </style>
    {% endblock %}
    {% block script %}
    {{ super() }}
    <script type="text/javascript">
        $(function(){
            $('#form_register_div').hide();
        });

        function register(){
            $(function(){
                $('#form_login_div').hide();
                $('#form_register_div').show();
            });
        }
        function login(){
            $(function(){
                $('#form_register_div').hide();
                $('#form_login_div').show();
            });
        }
    </script>
    {% endblock %}
</head>
<body>
    {% block page_content %}
    <div id="title">
        <h1>Welcome Guy</h1>
    </div>
    <br/>
    <div id="form_login_div" >
        <form action="" name="form_login" method="post">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" name="email" placeholder="email:" required="required" />
            </div>
            <br/>
            <br/>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="password" class="form-control" name="password" placeholder="password:" required="required" />
            </div>
            <br/>
            <br/>
            <div class="btn-group-lg">
            <input type="button" class="btn btn-primary" value="Register" onclick="register()"/>
            <input type="submit" class="btn btn-success" value="Submit" style="margin-left: 40px"/>
            </div>
        </form>
    </div>
    <div id="form_register_div" align="center">
        <form action="" name="form_register" method="post">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" name="username" placeholder="username:" required="required" />
            </div>
            <br/>
            <br/>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" name="email" placeholder="email:" required="required" />
            </div>
            <br/>
            <br/>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="password" class="form-control" name="password" placeholder="password:" required="required" />
            </div>
            <br/>
            <br/>
            <div class="input-group input-group-lg">
              <span class="input-group-addon">@</span>
              <input type="password" class="form-control" name="password2" placeholder="password:" required="required" />
            </div>
            <br/>
            <br/>
            <div class="btn-group-lg">
            <input type="button" class="btn btn-primary" value="Login" onclick="login()" style="float: left"/>
            <input type="submit" class="btn btn-success" value="Submit" />
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>